/ {
	zephyr,user {
		d0_gpios = <&arduino_nano_header 0 0>;
		d1_gpios = <&arduino_nano_header 1 0>;
		d2_gpios = <&arduino_nano_header 2 0>;
		d3_gpios = <&arduino_nano_header 3 0>;
		d4_gpios = <&arduino_nano_header 4 0>;
		d5_gpios = <&arduino_nano_header 5 0>;
		d6_gpios = <&arduino_nano_header 6 0>;
		d7_gpios = <&arduino_nano_header 7 0>;
		d8_gpios = <&arduino_nano_header 8 0>;
		d9_gpios = <&arduino_nano_header 9 0>;
		d10_gpios = <&arduino_nano_header 10 0>;
		d11_gpios = <&arduino_nano_header 11 0>;
		d12_gpios = <&arduino_nano_header 12 0>;
		d13_gpios = <&arduino_nano_header 13 0>;
		d14_gpios = <&arduino_nano_header 14 0>; /* D14 / A0 */
		d15_gpios = <&arduino_nano_header 15 0>;
		d16_gpios = <&arduino_nano_header 16 0>;
		d17_gpios = <&arduino_nano_header 17 0>;
		d18_gpios = <&arduino_nano_header 18 0>; /* D18 / A4 / I2C-SDA */
		d19_gpios = <&arduino_nano_header 19 0>; /* D19 / A5 / I2C-SCL */
		d20_gpios = <&arduino_nano_header 20 0>;
		d21_gpios = <&arduino_nano_header 21 0>;
		pwms =	<&pwm1 1 255 PWM_POLARITY_NORMAL>,
			<&pwm1 2 255 PWM_POLARITY_NORMAL>,
			<&pwm1 3 255 PWM_POLARITY_NORMAL>,
			<&pwm2 0 255 PWM_POLARITY_NORMAL>,
			<&pwm2 1 255 PWM_POLARITY_NORMAL>,
			<&pwm2 2 255 PWM_POLARITY_NORMAL>,
			<&pwm2 3 255 PWM_POLARITY_NORMAL>;
		pwm-pins = <3 5 6 13 9 10 11>;
	};
};

&pinctrl {
	pwm1_default: pwm1_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 9)>, /* keep original config */
				<NRF_PSEL(PWM_OUT1, 1, 12)>,
				<NRF_PSEL(PWM_OUT2, 1, 13)>,
				<NRF_PSEL(PWM_OUT3, 1, 14)>;
				nordic,invert;
		};
	};

	pwm1_sleep: pwm1_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 9)>, /* keep original config */
				<NRF_PSEL(PWM_OUT1, 1, 12)>,
				<NRF_PSEL(PWM_OUT2, 1, 13)>,
				<NRF_PSEL(PWM_OUT3, 1, 14)>;
				low-power-enable;
		};
	};

	pwm2_default: pwm2_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 13)>, /* keep original config */
				<NRF_PSEL(PWM_OUT1, 0, 27)>,
				<NRF_PSEL(PWM_OUT2, 1, 2)>,
				<NRF_PSEL(PWM_OUT3, 1, 1)>;
				nordic,invert;
		};
	};

	pwm2_sleep: pwm2_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 13)>, /* keep original config */
				<NRF_PSEL(PWM_OUT1, 0, 27)>,
				<NRF_PSEL(PWM_OUT2, 1, 2)>,
				<NRF_PSEL(PWM_OUT3, 1, 1)>;
				low-power-enable;
		};
	};
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default", "sleep";
};

&pwm2 {
	status = "okay";
	pinctrl-0 = <&pwm2_default>;
	pinctrl-1 = <&pwm2_sleep>;
	pinctrl-names = "default", "sleep";
};
