&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		status = "okay";
	};
};

&usart1 {
	status = "okay";
};

&usart6 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&spi1 {
	status = "okay";
	pinctrl-0 = <&spi1_nss_pa4 &spi1_sck_pb3
		     &spi1_miso_pg9 &spi1_mosi_pd7>;
	pinctrl-names = "default";
};


&spi5 {
	status = "okay";
};

&adc1 {
	pinctrl-0 = <&adc1_inp4_pc4
		&adc1_inp8_pc5
		&adc1_inp9_pb0
		&adc1_inp5_pb1
		&adc1_inp13_pc3
		&adc1_inp12_pc2
		&adc1_inp10_pc0
		&adc1_inp16_pa0>;
	pinctrl-names = "default";
	st,adc-clock-source = <SYNC>;
	st,adc-prescaler = <4>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	channel@4 {
		reg = <4>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
	channel@8 {
		reg = <8>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
	channel@9 {
		reg = <9>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
	channel@5 {
		reg = <5>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
	channel@13 {
		reg = <13>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
	channel@12 {
		reg = <12>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
	channel@10 {
		reg = <10>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
	channel@16 {
		reg = <16>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
};

/ {
	soc {
		flash-controller@52002000 {
			flash0: flash@8000000 {
				compatible = "st,stm32-nv-flash", "soc-nv-flash";
				write-block-size = <32>;
				erase-block-size = <DT_SIZE_K(128)>;
				/* maximum erase time for a 128K sector */
				max-erase-time = <4000>;

				reg = <0x08000000 DT_SIZE_K(1024)>;
				status = "okay";

				partitions {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;

					user_sketch: partition@0 {
						reg = <0x0E0000 0x20000>;
					};
				};
			};
		};
	};
};

/ {
	zephyr,user {
		digital-pin-gpios = <&arduino_header 6 0>,
				    <&arduino_header 7 0>,
				    <&arduino_header 8 0>,
				    <&arduino_header 9 0>,
				    <&arduino_header 10 0>,
				    <&arduino_header 11 0>,
				    <&arduino_header 12 0>,
				    <&arduino_header 13 0>,
				    <&arduino_header 14 0>,
				    <&arduino_header 15 0>,
				    <&arduino_header 16 0>,
				    <&arduino_header 17 0>,
				    <&arduino_header 18 0>,
				    <&arduino_header 19 0>,
				    <&arduino_header 20 0>,
				    <&arduino_header 21 0>,
				    <&arduino_header 0 0>,
				    <&arduino_header 1 0>,
				    <&arduino_header 2 0>,
				    <&arduino_header 3 0>,
				    <&arduino_header 4 0>,
				    <&arduino_header 5 0>,
					<&gpioc 0 0>,
				    <&gpioa 0 0>,
				    <&gpioi 12 GPIO_ACTIVE_LOW>,
				    <&gpioj 13 GPIO_ACTIVE_LOW>,
				    <&gpioe 3 GPIO_ACTIVE_LOW>;

		builtin-led-gpios = <&gpioi 12 GPIO_ACTIVE_LOW>,
                        <&gpioj 13 GPIO_ACTIVE_LOW>,
                        <&gpioe 3 GPIO_ACTIVE_LOW>;

		pwm-pin-gpios =	    <&arduino_header 6 0>,
				    <&arduino_header 5 0>,
				    <&arduino_header 17 0>,
				    <&arduino_header 12 0>,
				    <&arduino_header 2 0>,
				    <&arduino_header 3 0>,
				    <&arduino_header 9 0>,
				    <&arduino_header 10 0>;

		adc-pin-gpios =     <&arduino_header 0 0>,
				    <&arduino_header 1 0>,
				    <&arduino_header 2 0>,
				    <&arduino_header 3 0>,
				    <&arduino_header 4 0>,
				    <&arduino_header 5 0>,
				    <&gpioc 0 0>,
				    <&gpioa 0 0>;

		serials = <&cdc_acm_uart0>, <&usart1>, <&usart6>;
		cdc-acm = <&cdc_acm_uart0>;
		i2cs = <&i2c4>;
		spis = <&spi1>, <&spi5>;
		pwms = <>;

		io-channels =	<&adc1 4>,
				<&adc1 8>,
				<&adc1 9>,
				<&adc1 5>,
				<&adc1 13>,
				<&adc1 12>,
				<&adc1 10>,
				<&adc1 16>;
	};
};
