/ {
	zephyr,user {
		d0_gpios = <&arduino_header 6 0>;	/* Digital */
		d1_gpios = <&arduino_header 7 0>;
		d2_gpios = <&arduino_header 8 0>;
		d3_gpios = <&arduino_header 9 0>;
		d4_gpios = <&arduino_header 10 0>;
		d5_gpios = <&arduino_header 11 0>;
		d6_gpios = <&arduino_header 12 0>;
		d7_gpios = <&arduino_header 13 0>;
		d8_gpios = <&arduino_header 14 0>;
		d9_gpios = <&arduino_header 15 0>;
		d10_gpios = <&arduino_header 16 0>;
		d11_gpios = <&arduino_header 17 0>;
		d12_gpios = <&arduino_header 18 0>;
		d13_gpios = <&arduino_header 19 0>;
		d14_gpios = <&arduino_header 20 0>;
		d15_gpios = <&arduino_header 21 0>;
		d16_gpios = <&arduino_header 0 0>;	/* Analog */
		d17_gpios = <&arduino_header 1 0>;
		d18_gpios = <&arduino_header 2 0>;
		d19_gpios = <&arduino_header 3 0>;
		d20_gpios = <&arduino_header 4 0>;
		d21_gpios = <&arduino_header 5 0>;
		d22_gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
	};
};
