/ {
	zephyr,user {
		d0_gpios = <&arduino_header 6 0>;	/* Digital */
		d1_gpios = <&arduino_header 7 0>;
		d2_gpios = <&arduino_header 8 0>;
		d3_gpios = <&arduino_header 9 0>;
		d4_gpios = <&arduino_header 10 0>;
		d5_gpios = <&arduino_header 11 0>;
		d6_gpios = <&arduino_header 12 0>;
		d7_gpios = <&arduino_header 13 0>;
		d8_gpios = <&arduino_header 14 0>;
		d9_gpios = <&arduino_header 15 0>;
		d10_gpios = <&arduino_header 16 0>;
		d11_gpios = <&arduino_header 17 0>;
		d12_gpios = <&arduino_header 18 0>;
		d13_gpios = <&arduino_header 19 0>;
		d14_gpios = <&arduino_header 20 0>;
		d15_gpios = <&arduino_header 21 0>;
		d16_gpios = <&arduino_header 0 0>;	/* Analog */
		d17_gpios = <&arduino_header 1 0>;
		d18_gpios = <&arduino_header 2 0>;
		d19_gpios = <&arduino_header 3 0>;
		d20_gpios = <&arduino_header 4 0>;
		d21_gpios = <&arduino_header 5 0>;
		d22_gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
		pwms =	<&pwm0 1 255 PWM_POLARITY_NORMAL>,
			<&pwm0 2 255 PWM_POLARITY_NORMAL>,
			<&pwm0 3 255 PWM_POLARITY_NORMAL>,
			<&pwm1 0 255 PWM_POLARITY_NORMAL>,
			<&pwm1 1 255 PWM_POLARITY_NORMAL>,
			<&pwm1 2 255 PWM_POLARITY_NORMAL>;
		pwm-pins = <22 3 5 6 9 10 11>;
	};
};

&pinctrl {
	pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 13)>, /* keep original config */
				<NRF_PSEL(PWM_OUT1, 1, 4)>,
				<NRF_PSEL(PWM_OUT2, 1, 6)>,
				<NRF_PSEL(PWM_OUT3, 1, 7)>;
				nordic,invert;
		};
	};

	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 13)>, /* keep original config */
				<NRF_PSEL(PWM_OUT1, 1, 4)>,
				<NRF_PSEL(PWM_OUT2, 1, 6)>,
				<NRF_PSEL(PWM_OUT3, 1, 7)>;
				low-power-enable;
		};
	};

	pwm1_default: pwm1_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 11)>,
				<NRF_PSEL(PWM_OUT1, 1, 12)>,
				<NRF_PSEL(PWM_OUT2, 1, 13)>;
				nordic,invert;
		};
	};

	pwm1_sleep: pwm1_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 11)>,
				<NRF_PSEL(PWM_OUT1, 1, 12)>,
				<NRF_PSEL(PWM_OUT2, 1, 13)>;
				low-power-enable;
		};
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default", "sleep";
};
