/*
 * Copyright (c) 2026 Dhruva Gole <d-gole@ti.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	zephyr,user {
		digital-pin-gpios = <&gpio0 0 0>,
				    <&gpio0 1 0>,
				    <&gpio0 2 0>,
				    <&gpio0 3 0>,
				    <&gpio0 4 0>,
				    <&gpio0 5 0>,
				    <&gpio0 6 0>,
				    <&gpio0 7 0>;
		builtin-led-gpios = <&gpio0 0 0>;
		serials = <&uart0>;
	};
};
