/*
 * Copyright (c) Arduino s.r.l. and/or its affiliated companies
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* USB CDC-ACM UART for console */
&zephyr_udc0 {
    board_cdc_acm_uart: board_cdc_acm_uart {
        compatible = "zephyr,cdc-acm-uart";
        status = "okay";
    };
};

/* I2C buses */
&i2c1 {
    status = "okay";
};

&i2c2 {
    status = "okay";
};

&i2c3 {
    status = "okay";
};

/* SPI buses */
&spi4 {
    status = "okay";
};

&spi5 {
    status = "okay";
};

&rtc {
    status = "okay";

    clocks = <&rcc STM32_CLOCK(APB4, 16U)>,
             <&rcc STM32_SRC_LSE RTC_SEL(1)>;
};

/* PWM Timers */
&timers1 {
    status = "okay";
    st,prescaler = <0>;

    pwm1: pwm {
        status = "okay";
        pinctrl-0 = <&tim1_ch3_pj9 &tim1_ch1_pk1>;
        pinctrl-names = "default";
    };
};

/* Note: timers3 is configured for camera clock generation in base .dts */

&timers8 {
    status = "okay";
    st,prescaler = <100>;

    pwm8: pwm {
        status = "okay";
        pinctrl-0 = <&tim8_ch3n_ph15 &tim8_ch2_pj10 &tim8_ch2n_pj7>;
        pinctrl-names = "default";
    };
};

&timers12 {
    status = "okay";
    st,prescaler = <100>;

    pwm12: pwm {
        status = "okay";
        pinctrl-0 = <&tim12_ch1_ph6>;
        pinctrl-names = "default";
    };
};

&adc1 {
    pinctrl-0 = <&adc1_inp4_pc4>;
    pinctrl-names = "default";
    st,adc-clock-source = "SYNC";
    st,adc-prescaler = <4>;
    status = "okay";

    #address-cells = <1>;
    #size-cells = <0>;

    channel@4 {
        reg = <4>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
        zephyr,resolution = <16>;
    };

    channel@12 {
        reg = <12>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
        zephyr,resolution = <16>;
    };
};

&adc2 {
    pinctrl-0 = <&adc2_inp2_pf13>;
    pinctrl-names = "default";
    st,adc-clock-source = "SYNC";
    st,adc-prescaler = <4>;
    status = "okay";

    #address-cells = <1>;
    #size-cells = <0>;

    channel@2 {
        reg = <2>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
        zephyr,resolution = <16>;
    };
};

&adc3 {
    zephyr,deferred-init;
    pinctrl-0 = <&adc3_inp5_pf3>;
    pinctrl-names = "default";
    st,adc-clock-source = "SYNC";
    st,adc-prescaler = <4>;
    status = "okay";

    #address-cells = <1>;
    #size-cells = <0>;

    channel@5 {
        reg = <5>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
        zephyr,resolution = <16>;
    };
};

/ {
    chosen {
        zephyr,console = &lpuart1;
        zephyr,shell-uart = &lpuart1;
        zephyr,log-uart = &log_uarts;
    };

	log_uarts: log_uarts {
		compatible = "zephyr,log-uart";
		uarts = <&lpuart1 &board_cdc_acm_uart>;
	};

    /* used to overcome problems with _C analog pins */
    gpioz: gpio@deadbeef {
        compatible = "vnd,gpio";
        gpio-controller;
        reg = <0xdeadbeef 0x1000>;
        #gpio-cells = <0x2>;
        status = "okay";
    };
};

/*
 * Flash Partition Layout Override
 * Custom partition layout for Arduino Core compatibility:
 * - mcuboot: 256KB bootloader
 * - image-0: 640KB loader slot
 * - user_sketch: 128KB user data
 * Total: 1MB internal flash
 */
/ {
    soc {
        flash-controller@52002000 {
            flash0: flash@8000000 {
                /delete-node/ partitions;
                compatible = "st,stm32-nv-flash", "soc-nv-flash";
                write-block-size = <32>;
                erase-block-size = <DT_SIZE_K(128)>;
                /* maximum erase time for a 128K sector */
                max-erase-time = <4000>;

                reg = <0x08000000 DT_SIZE_K(1024)>;
                status = "okay";

                partitions {
                    compatible = "fixed-partitions";
                    #address-cells = <1>;
                    #size-cells = <1>;

                    boot_partition: partition@0 {
                            label = "mcuboot";
                            reg = <0x00000000 0x00040000>;
                            read-only;
                    };

                    slot0_partition: partition@40000 {
                            label = "image-0";
                            reg = <0x00040000 0x000A0000>;
                    };

                    user_sketch: partition@e0000 {
                        reg = <0x0E0000 0x20000>;
                    };
                };
            };
        };
    };

    zephyr,user {
        digital-pin-gpios = <&gpiog 12 GPIO_ACTIVE_HIGH>,   /* D0 PG_12 */
                            <&gpioa 9 GPIO_ACTIVE_HIGH>,    /* D1 PA_9 */
                            <&gpioa 10 GPIO_ACTIVE_HIGH>,   /* D2 PA_10 */
                            <&gpiog 1 GPIO_ACTIVE_HIGH>,    /* D3 PG_1 */
                            <&gpioe 3 GPIO_ACTIVE_HIGH>,    /* Red LED PE_3 */
                            <&gpioc 13 GPIO_ACTIVE_HIGH>,   /* Green LED PC_13 */
                            <&gpiof 4 GPIO_ACTIVE_HIGH>,    /* Blue LED PF_4 */
							<&gpiog 0 GPIO_ACTIVE_HIGH>,	/* SE05X_EN */
                            <&gpioc 4 GPIO_ACTIVE_HIGH>,    /* PC4 A0 ADC1 ch4  */
                            <&gpiof 13 GPIO_ACTIVE_HIGH>,   /* PF13 A1 ADC2 ch2  */
                            <&gpiof 3 GPIO_ACTIVE_HIGH>;    /* PF3 A2 ADC3 ch5  */

        adc-pin-gpios = <&gpioc 4 GPIO_ACTIVE_HIGH>,   /* A0 PC4  */
                        <&gpiof 13 GPIO_ACTIVE_HIGH>,   /* A1 PF13 */
                        <&gpiof 3 GPIO_ACTIVE_HIGH>;    /* A2 PF3  */

        pwm-pin-gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>,
                        <&gpioc 6 GPIO_ACTIVE_HIGH>,
                        <&gpioc 7 GPIO_ACTIVE_HIGH>,
                        <&gpioh 15 GPIO_ACTIVE_HIGH>,
                        <&gpioj 7 GPIO_ACTIVE_HIGH>,
                        <&gpioj 10 GPIO_ACTIVE_HIGH>,
                        <&gpioh 6 GPIO_ACTIVE_HIGH>;

        serials = <&board_cdc_acm_uart>, <&usart1>, <&lpuart1>;
        cdc-acm-serial = <&board_cdc_acm_uart>;

        i2cs = <&i2c1>, <&i2c2>, <&i2c3>;
        spis = <&spi4>, <&spi5>;

        io-channels = <&adc1 4>,
                  <&adc2 2>,
                  <&adc3 5>;

        builtin-led-gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>, /* Green LED PC_13 (LED_BUILTIN) */
                            <&gpioe 3 GPIO_ACTIVE_HIGH>,  /* Red LED PE_3 */
                            <&gpiof 4 GPIO_ACTIVE_HIGH>;  /* Blue LED PF_4 */

        /* PWM channels: timers1(ch1,ch3), timers8(ch2,ch2n,ch3n), timers12(ch1) */
        pwms =  <&pwm1 1 PWM_HZ(1000) PWM_POLARITY_NORMAL>,
                <&pwm1 3 PWM_HZ(1000) PWM_POLARITY_NORMAL>,
                <&pwm8 2 PWM_HZ(1000) PWM_POLARITY_NORMAL>,
                <&pwm8 3 PWM_HZ(1000) PWM_POLARITY_NORMAL>,
                <&pwm12 1 PWM_HZ(1000) PWM_POLARITY_NORMAL>;
    };
};

/* Include common flash filesystem configuration */
qspi_flash: &n25q128a1 {};
#include "../common/arduino_flash_fs.dtsi"
